/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

/*===== VARIABLES CSS =====*/
/*===== Colorous =====*/
/* USE THIS TO WORK WITH HSL — https://www.w3schools.com/colors/colors_hsl.asp */
:root {
  --hue-color: 25; /* Blue - 240, Green - 154, Orange - 25, */

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
}

/*===== Typography =====*/
:root {
  --body-font: 'Lato', sans-serif;
  --big-font-size: 3rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.815rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.815rem;
    --tiny-font-size: 0.75rem;
  }
}

/*===== Border-radius =====*/
:root {
  --br-6: 6px;
}

/*===== Margin =====*/
:root {
  --mb-0-25: 0.25rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem;
}

/*===== z index =====*/
:root {
  --z-normal: 1;
  --z-tooltip: 10;
}

/*===== BASE =====*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

/* CSS CLASSES */
.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
}

/* CLOCK */
.clock__container {
  height: 100vh;
  grid-template-rows: 1ft max-content;
}

.clock__circle {
  position: relative;
  width: 200px;
  height: 200px;
  box-shadow: -6px -6px 16px var(--white-color),
    6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset -6px -6px 16px var(--white-color);
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock__content {
  align-self: center;
  row-gap: 3.5rem;
}

.clock__twelve,
.clock__three,
.clock__six,
.clock__nine {
  position: absolute;
  width: 1rem;
  height: 1px;
  background-color: var(--text-color-light);
}

.clock__twelve,
.clock__six {
  transform: translateX(-50%) rotate(90deg);
}

.clock__twelve {
  top: 1.25rem;
  left: 50%;
}

.clock__three {
  top: 50%;
  right: 0.75rem;
}

.clock__six {
  bottom: 1.25rem;
  left: 50%;
}

.clock__nine {
  top: 50%;
  left: 0.75rem;
}

.clock__rounder {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--first-color);
  border-radius: 50%;
  border: 2px solic var(--body-color);
  z-index: var(--z-tooltip);
}

.clock__hours,
.clock__minutes,
.clock__seconds {
  position: absolute;
  display: flex;
  justify-content: center;
}

.clock__hours {
  width: 105px;
  height: 105px;
}

.clock__hours::before {
  content: '';
  position: absolute;
  background-color: var(--text-color);
  width: 0.25rem;
  height: 3rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__minutes {
  width: 136px;
  height: 136px;
}

.clock__minutes::before {
  content: '';
  background-color: var(--text-color);
  position: absolute;
  height: 4rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__seconds {
  width: 130px;
  height: 130px;
}

.clock__seconds::before {
  content: '';
  position: absolute;
  background-color: var(--first-color);
  width: 0.125rem;
  height: 5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__logo {
  width: max-content;
  justify-self: center;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color-light);
  transition: 0.3s;
}

.clock__logo:hover {
  color: var(--first-color);
}
/* MEDIA QUERIES */
/* for large devices */
